<div class="lights-plugin">
<h1>Loaded from the module views</h1>
<input type="button" onClick="lightsOff();" value="Lights off" />
<input type="button" onClick="lightsOn();"  value="Lights on"/>
</div>
