<div class="lights-plugin">
<!-- <h1>Loaded from the module views</h1> -->
<input type="button" onClick="lightsOff();" value="Lights off" />
<input type="button" onClick="lightsOn();"  value="Lights on" />
<input type="button" onClick="toggleSilent();" value="Toggle silent" />
<input type="button" onClick="setMode(0);" value="Set mode Off" />
<input type="button" onClick="setMode(1);" value="Set mode Random" />
<input type="button" onClick="setMode(2);" value="Set mode Fade" />
<input type="button" onClick="setMode(3);" value="Set mode Static" />
</div>
